img {
    height: 180px;
    width: 250px;
}

header {
    margin: auto;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th, td {
    padding: 15px;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
  }